@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root{
  --body_background:#f8f5f5;
  --body_color:black;
  --sub_nav:rgb(217 201 203);
  --form:white
}

[data-theme="dark"] {
  --body_background:#282c34;
  --body-color:white;
  --sub_nav:rgb(100, 61, 66);
  --form: #4e5563;
}

* {
  transition: all 0.3s ease;
}

html {
  font-family: system-ui;
}

body {
  margin: 0;
  background: var(--body_background);
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  color:var(--body-color)
}
