nav {
  display: flex;
  background-color: white;
  color: black;
  height: 70px;
}

.navItemsLeftContainer {
  display: flex;
  padding: 15px 10px;
  cursor: pointer;
  flex: 3 1;
  font-size: 18px;
  gap: 10px;
}

.navItemsRightContainer {
  display: flex;
  justify-content: flex-end;
  cursor: default;
  padding: 0px;
  flex: 3;
}

.navRightItem {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.navLeftItem {
  text-decoration: none;
  color: lightgray;
  font-family: bold;
  padding: 10px 0px;
  font-family: sans-serif;
}

.navRightItem:hover {
  font-weight: bold;
}

.navLeftItem:hover {
  color: black;
}

.navBtn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 14px;
}

.userNameText {
  /* background-color: #8131cb; */
  margin: 10px 0px;
  border-radius: 5px;
  padding: 12px 10px;
  width: auto;
  border: solid 0.5px #c9bebe;
  font-weight: 400;
}

.premiumElement {
  width: auto;
  margin: 10px;
  padding: 5px 10px;
  background: #f3f2e6;
  border-radius: 5px;
  color: black;
  pointer-events: none;
  display: flex;
  gap: 10px;
}

.nonPremiumElement {
  width: auto;
  margin: 10px;
  padding: 5px 10px;
  background: #f3f2e6;
  border-radius: 5px;
  color: black;
  pointer-events: none;
  display: flex;
  gap: 10px;
}

.expenseSymbol {
  height: 40px;
}