.dashboardContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin: 30px;
  gap: 30px;
}

.dashboardCards {
  background-color: var(--body_background);
  color:var(--body_color);
  border-radius: 5px;
  height: 17rem;
  width: 28rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.dashboardCards::after{
  content: '';
  position: absolute;
}

.card1Title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 25px;
}
