.formContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
}

.mainForm {
  width: 100vh;
  background: #d98f8f;
  height: 52vh;
  padding: 20px;
  border-radius: 10px;
}

.formInputs {
  padding: 0px 5px 0px 5px;
}

.formBtn {
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px 0px 5px;
}

.formBtn button {
  border-radius: 5px;
  padding: 10px;
  width: 10rem;
  border: none;
  background: #a33232;
  color: white;
}

.formInputs input {
  margin: 5px 0 22px 0;
  width: 100%;
  padding: 10px;
  border: none;
  background: rgb(238, 235, 235);
  border-radius: 5px;
  display: inline-block;
}
