.formContainer {
  width: 600px;
  margin: auto;
  background: white;
  color: black;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  font-weight: 400;
}

.form {
  display: grid;
  grid-template-columns: 270px 270px;
  gap: 20px;
}

.formTitle {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
