


.formContainer {
    width: 600px;
    margin: auto;
    background: linear-gradient(to bottom, #bba4c7, #ddd8e4);
    color: black;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 400;
}

.form {
    display: grid;
    grid-template-columns: 270px 270px;
    gap: 20px;
}

.formTitle {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:none;
    margin-top: 10px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(148, 92, 201);
    color: white;
    border-radius: 10px;
    border: none;
}

.form button:hover {
    background-color: rgb(18, 16, 20);
}

.category {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

.inputFormBox {
    display: none;
}