nav {
  display: flex;
  background-color: rgb(18, 4, 39);
  color: white;
  height: 54px;
}

.navItemsLeftContainer {
  display: flex;
  padding: 15px 10px;
  cursor: pointer;
  flex: 2 1;
  font-size: 18px;
  gap: 10px;
}

.navItemsRightContainer {
  display: flex;
  justify-content: flex-end;
  cursor: default;
  padding: 0px;
  flex: 3;
}

.navRightItem {
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

.navLeftItem {
  text-decoration: none;
  color: white;
}

.navRightItem:hover {
  font-weight: bold;
}

.navLeftItem:hover {
  color: #e3a4a4;
}

.navBtn {
  height: 27px;
  width: 27px;
  cursor: pointer;
  margin: 14px;
}

.userNameText {
  background-color: #8131cb;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 5px 10px;
  width: auto;
}

.premiumElement {
  width: auto;
  margin: 10px;
  padding: 5px 10px;
  background: gold;
  border-radius: 5px;
  color: black;
  pointer-events: none;
}

.nonPremiumElement {
  width: auto;
  margin: 10px;
  padding: 5px 10px;
  background: #169a11;
  border-radius: 5px;
  color: white;
}
