nav {
  display: flex;
  background-color: rgb(18, 4, 39);
  color: white;
  justify-content: space-between;
}

.navItemsLeftContainer {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  cursor: pointer;
}

.navItemsRightContainer {
  display: flex;
  justify-content: flex-end;
  cursor: default;
  padding: 10px;
}

.navRightItem {
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

.navLeftItem {
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.navRightItem:hover {
    font-weight: bold;
}

.navLeftItem:hover {
  font-weight: bold;
}

.navBtn {
    padding: 9px;
    border-radius: 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    font-weight: bold;
}

.navBtn:hover {
    background-color: rgb(74, 19, 126);
    cursor: pointer;
}
